{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>All <span>Exams</span></h2>
                <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec
                    pharetra augue.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-corn">
                        {% for i in exam %}
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-2"><img src="{{i.logo.url}}" alt="" height="100" width="100"></div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-4 home-top-cour-desc">
                            <a href="course-details.html">
                                <h3>{{i.title}}</h3>
                            </a>
                            <h4>Exam Date:&nbsp;{{i.exam_date}}</h4>
                            <p>Salary:&nbsp;{{i.salary}}</p>
                            <span class="home-top-cour-rat" hidden>4.2</span>
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="/exam-detail/{{i.id}}"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                         More Detail</a></li>
                                    <li><a href="course-details.html"><i class="fa fa-user" aria-hidden="true"></i>{{i.vacancies}}
                                        Vacancies</a></li>
                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                        570</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--SECTION START-->
<section hidden>
    <div class="full-bot-book">
        <div class="container">
            <div class="row">
                <div class="bot-book">
                    <div class="col-md-2 bb-img">
                        <img src="images/3.png" alt="">
                    </div>
                    <div class="col-md-7 bb-text">
                        <h4>therefore always free from repetition</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour</p>
                    </div>
                    <div class="col-md-3 bb-link">
                        <a href="course-details.html">Book This Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

{% endblock content %}